
.form-field {
    width: 100%;
}

.atm-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}