.table-container {
    .table-content {
        &-atm-actions {
            display: flex;
            gap: 20px;
        }
        .image {
            width: 40px;
            height: 40px;
        }
    }
}
.table-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    &-actions {
        display: flex;
        gap: 10px;
    }
    .atm-search {
        width: 40%;
    }
}
.no-data {
    text-align: center;
    margin: 20px;
}

@media (max-width: 768px) {
    .table-container {
        overflow: scroll;
    }
}